#napari[all]==0.4.19
numpy
zarr
scikit-image
scipy
matplotlib
jupyter
ipykernel
scikit-learn
PyQt5
numba
pynrrd
qasync
blosc2
git+https://github.com/JamesDarby345/napari-threedee-undo-bug.git
git+https://github.com/JamesDarby345/napari-smoother-labels.git